<!DOCTYPE html>

<html>
<head>
    <link href="~/css/gstyle.css" rel="stylesheet" />
    <title>MVCProject</title>
</head>
<body>
    <header>
        <div id="headerText">Welcome to my page!</div>
        <div id="headerText">idk im not a youtuber</div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        footer text
    </footer>
</body>
</html>
